.sideBar {
  position: fixed;
  top: 20%;
  left: 0;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;

  .sideBarItem {
    display: flex;
    margin: 15px 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $light-theme-text;

    span {
      margin-left: 5px;
    }
  }
}
