.d-flex {
  display: flex;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.m-3 {
  margin: 15px 0;
}
